.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px #000;
}

.card-image img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.card-title {
    padding: 10px;
    font-weight: 600;
}

.card-body {
    padding: 10px;
}

.card-footer {
    padding: 10px;
}

.card-ns {
    box-shadow: none;
}

.card-nb {
    border: 0;
}

.card-si {
    height: 200px;
}

.card-mi {
    height: 300px;
}

.card-li {
    height: 400px;
}