.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px #000;
    border: 1px solid black;
}

.card-image img{
    width: 100%;
    object-fit: cover;
}

.card-title {
    padding: 10px;
    font-weight: 600;
}

.card-body {
    padding: 10px;
}

.card-footer {
    padding: 10px;
}

.card-ns {
    box-shadow: none;
}

.card-nb {
    border: 0;
}